{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block nav-breadcrumbs %}{% endblock %}

{% block content_container %}
<div class="space-y-8">
  <!-- Statistics on Top -->
  {% include "admin/includes/dashboard_stats.html" %}

  <!-- Interactive Charts -->
  {% include "admin/includes/dashboard_charts.html" %}

  <!-- Actions below -->
  {% include "admin/includes/recent_actions.html" %}
</div>
{% endblock %}
